@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #445EF2, #3345A6);
}
p {
    text-align: justify;
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #0D0D0D;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
h2 {
    color: #141b41;
}